<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Glasses is a simple app that tells you whether you'll need sunglasses today.">
	<meta name="author" content="Brian Cheung">
	<link rel="apple-touch-icon" href="/assets/itouch_icon.png"/>

	<title>Glasses</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			
			<div class="center hero-unit">
				<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
			</div>
		</div>
		
	</div>
</body>
</html>
